body {
    background-color: lavender;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus{
    color: purple;
    letter-spacing: 2px;
}

.navbar-brand {
    font-family: 'Permanent Marker', cursive;
    font-size: 3vw;
}

.brand-image {
    max-width: 75px;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.random {
    color: #363636;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .navbar-brand {
        display: block;
        text-align: center;
    }
    .brand-image {
        display: block;
        max-width: 100px;
        margin: 0 auto;
    }
    .navbar {
        display: block;
        text-align: center;
    }

    .nav-link:hover, .nav-link:focus{
        justify-content: center;
    }
    .footer-address {
      display: none;
    }
    .form-group {
    justify-content: center;
    }
    .f-heading {
        text-align: center;
    }
    .btn {
        justify-content: center;
    }
  }