body {
    background-color: lavender;
}

h1 {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: rgb(70, 57, 70);
    margin: 5px;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus{
    color: rgb(67, 20, 91);
    transform: scale(1.1);
}

.navbar-brand {
    font-family: 'Permanent Marker', cursive;
    font-size: 3vw;
}

.brand-image {
    max-width: 75px;
}

.logo img{
    max-width: 225px;
}

.carousel-item img {
    opacity: .75;

}

.carousel-caption h2{
    display: block;
 background: #ab96dd;
 padding: 2px;
}

.carousel-caption h2:hover{
   transform: scale(1.1);
}
.carousel-caption p {
    display: block;
 background: #e0d4fc;
 padding: 2px;
 color:#676767;
}

.carousel-item {
    max-height: 500px;
    filter: grayscale(75%);
}

.text-center a{
    color:#988bb8;
    font-size: 1vw;
    text-transform: uppercase;
}

.btn {
    background-color: #ab96dd;
}

.fa-instagram {
    margin-right: 10px;
    color: #ab96dd;
}

.fa-facebook-f, .fa-twitter {
    margin-left: 10px;
    margin-right: 10px;
    color: #ab96dd;
}

.f-heading {
    font-family: 'Permanent Marker', cursive;
}

#topThreeDiv {
    display: flex;
    flex-wrap: wrap;
    max-width: 1980px;
    justify-content: center;
}

.card {
width:270px;
margin: 10px;
text-align: center;
background-color: white;
height: auto;
box-shadow: 1px 2px 4px 1px black;

}
.card-header {
width:100%;
}

.card-img-top {
max-width: 400px;;
}

.card .btn {
background-color: #988bb8;
border: none;
}

.card .btn:hover{
background-color: #363636;
border: none,
}

.light {
background-color: #e4dcfa;
}

.medium {
background-color: #c6bfda;
}

.dark {
background-color: #aca5be;
}

footer {
    width: 100%;
    margin-top: 20px;
    position: fixed;
    bottom: 0px;
}


#myBeer {
    margin-bottom: 270px;
    overflow: hidden;
}
/* Events */
.eventcard {
  width:270px;
  margin: 10px;
  text-align: center;
  background-color: #979494;
  height: 545px;
  box-shadow: 1px 2px 4px 1px black; 
  color: #e0d4fc;
  font-family: 'Permanent Marker', cursive;
  border: 1px solid #363636;
} 
#eventimg {
    height: 275px;
    width: 330px;
    border: 1px solid #363636;
}
.modal-backdrop {
  background-color: #988bb8;
}

/* Mobile Styles */
@media only screen and (max-width: 500px) {
    .navbar-brand {
        display: block;
        text-align: center;
    }
    .brand-image {
        display: block;
        max-width: 100px;
        margin: 0 auto;
    }
    .navbar {
        display: block;
        text-align: center;
    }

    .nav-link:hover, .nav-link:focus{
        justify-content: center;
    }

    .footer-address {
      display: none;
    }

    footer {
        justify-content: center;
        position: fixed;
        bottom: 0;
    }
    .form-group {
    justify-content: center;
    }

    .f-heading {
        text-align: center;
    }
    .btn {
        justify-content: center;
    }
    .text-center a{
       display: none;
    }
    .logo img{
        max-width: 105px;
    }
  }
